body {
    font-family: "Segoe UI", Tahoma, sans-serif !important;
    color: #101e10;
    background-color: #ffbdbd;
    width: 1100px;
    margin: 20px auto;
}

.content {
    border: 1px solid blue;
    width: 1100px;
    margin: 20px auto;
   
}

.hidden {
    display: none;
}

.title{
    font-size: 40px;
    font-weight: 650;
}

a {
    display: block;
}

.nav {
    padding-top: 30px;
}

.center {
    text-align: center;
}

.timer {
    border: 10px solid white;
    background-color: #Fbe4e4;
    color: #990030;
    font-weight: bolder;
    border-radius: 9%;
    width: 300px;
    height: 200px;
    justify-content: center;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
}

img {
    display: block;
}

.summary {
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 400px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    
}
th {
    background-color: #464646;
    color: #fff4f4;
    
}
td {
    background-color: #Fbe4e4;
}

.hammer {
    -webkit-transform-origin: center;
    width: 200px;
    margin-left: 70px;
    margin-bottom: -100px;
    padding: 0;
    transform-origin: center;
}

.hammer.activate-anim {
    -webkit-animation: bonkh 1s;
    animation: bonkh 1s;
}

@-webkit-keyframes bonkh { 
    0% {
        -webkit-transform: rotate(60deg);
    }
    100% {
        -webkit-transform: none;
    }
}

@keyframes bonkh {
    0% {
        transform: rotate(60deg);
    }
    100% {
        transform: none;
    }
}

.cat {
    -webkit-transform-origin: bottom;
    width: 350px;
    margin-left: 100px;
    /*this fixes the bottom of the image, so scaling doesn't move the bottom */
    transform-origin: bottom;
}

.cat.activate-animation {
    -webkit-animation: bonk 1s;
    animation: bonk 1s;

}


@-webkit-keyframes bonk {
    0% {
        -webkit-transform: scaleY(0.8);
    }
    100% {
        -webkit-transform: none;
    }
}

@keyframes bonk {
    0% {
        transform: scaleY(0.7);
    }
    100% {
        transform: none;
    }
}

button:hover {background-color: #fff4f4d3}

button:active {
    background-color: #fff4f4d3;
    /* box-shadow: 0 5px #666; */
    transform: translateY(2px);
}

.skip {
    justify-content: center;
    margin-left: 13%;
    margin-top: 10px;
    background-color: #fff4f4;
    border: 2px solid #fff4f4;
    width: 140px;
    height: 35px;
    border-radius: 5%;
    font-weight: bolder;
    visibility: block;
    
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.buttons {
    vertical-align: middle;
    margin: auto;
    margin-left: 0px;
}

.reset {
    /* margin-left: 9%; */
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
  
.divide {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    
}

